// Importando tipografías "locales"

@font-face {
  font-family: "extenda-10";
  src: url("../fonts/Extenda-10-Pica-trial.ttf");
}

@font-face {
  font-family: "extenda-15";
  src: url("../fonts/Extenda-15-Nano-trial.ttf");
}

@font-face {
  font-family: "extenda-20";
  src: url("../fonts/Extenda-20-Micro-trial.ttf");
}

@font-face {
  font-family: "extenda-30";
  src: url("../fonts/Extenda-30-Deca-trial.ttf");
}

@font-face {
  font-family: "extenda-40";
  src: url("../fonts/Extenda-40-Hecto-trial.ttf");
}

@font-face {
  font-family: "extenda-50";
  src: url("../fonts/Extenda-50-Mega-trial.ttf");
}

@font-face {
  font-family: "extenda-60";
  src: url("../fonts/Extenda-60-Giga-trial.ttf");
}

@font-face {
  font-family: "extenda-70";
  src: url("../fonts/Extenda-70-Tera-trial.ttf");
}

@font-face {
  font-family: "extenda-80";
  src: url("../fonts/Extenda-80-Peta-trial.ttf");
}

@font-face {
  font-family: "extenda-90";
  src: url("../fonts/Extenda-90-Exa-trial.ttf");
}

@font-face {
  font-family: "extenda-100";
  src: url("../fonts/Extenda-100-Yotta-trial.ttf");
}

@font-face {
  font-family: "monument-regular";
  src: url("../fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "monument-ultrabold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf");
}

@font-face {
  font-family: "rubik-mono";
  src: url("../fonts/RubikMonoOne-Regular.ttf");
}

@font-face {
  font-family: "regals-condensed";
  src: url("../fonts/Regals\ Condensed.otf");
}

@font-face {
  font-family: "regals";
  src: url("../fonts/Regals.otf");
}

@font-face {
  font-family: "regals-extended";
  src: url("../fonts/Regals\ Extended.otf");
}