// Reset / shame para corregir cosas del footer
p {
  margin-bottom: 0;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: rgb(241, 217, 227);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  color: rgb(8, 8, 8);
  text-align: center;
  padding-top: 0.5rem;

}

.footer__container__textos {
  color: rgb(8, 8, 8);
  font-family: "Jost", sans-serif;
  font-size: small;
  padding-bottom: 0;
  & i {
    font-size: 1.5em;
  }
  p {
    padding-bottom: 0;
  }
}

// Media queries para ajustar el tamaño de los íconos en pantallas pequeñas
@media screen and (max-width: 320px) {
  .footer i {
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

.footer__container__textos--title {
  font-family: "regals-condensed";
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 0;
}

.footer__container__icons {
  a {
    text-decoration: none;
    color: rgb(48, 51, 48);
    font-size: 0.9em;
    &:hover {
      color: cadetblue;
    }
  }
  i {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}

.footer__container__avatar {
  width: 2rem;
}