// Reset de estilos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Lo encontré por ahí, para que me funcionen los links hacia cada sección
*[id]:before {
  display: block;
  content: " ";
  margin-top: -110px;
  height: 110px;
  visibility: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: regals-condensed;
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
  margin-top: 1.5rem;
}

.carousel__portada {
  margin-top: 1rem;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.somos {
  margin-top: 2rem;
  p {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 1 auto;
  }
  img {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.catalogo {
  max-width: 90%;
  height: 60vh;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url(../img/Portada.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.catalogo__texto {
  margin-top: 1rem;
  margin-bottom: 1rem;
  p {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 1 auto;
  }
}

// Para centrar el botón
// https://www.w3schools.com/howto/howto_css_center_button.asp
.boton__catalogo {
  font-family: "Jost", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.comunidad {
  margin-top: 2rem;
  margin-bottom: 1rem;

  p {
    font-family: "Jost", sans-serif;
    margin-bottom: 1rem;
  }
}

/* Botón flotante para Whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

// Botón Libros Libres
// https://www.w3schools.com/howto/howto_css_center_button.asp
.boton__libros {
  // font-family: regals-condensed;
  font-family: "Jost", sans-serif;
  font-size: larger;
  background-color: #571151;
  border-color: #8b4513;
}

// Para aplicar en pantallas grandes
// https://bootstrapcreative.com/can-adjust-text-size-bootstrap-responsive-design/
@media (min-width: 992px) {
  .navbar-nav a {
    font-size: 1.7rem;
    padding-top: 3px;
  }
  .navbar-nav button {
    font-size: 1.4rem;
  }
  .somos p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .comunidad p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .catalogo__texto p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .boton__catalogo {
    font-size: 2rem;
  }
  .boton__libros {
    font-size: 2rem;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 4em;
  }
}

@media (min-width: 1024px) {
  iframe {
    width: 90%;
    height: 70%;
  }
}
