@charset "UTF-8";
@font-face {
  font-family: "extenda-10";
  src: url("../fonts/Extenda-10-Pica-trial.ttf");
}
@font-face {
  font-family: "extenda-15";
  src: url("../fonts/Extenda-15-Nano-trial.ttf");
}
@font-face {
  font-family: "extenda-20";
  src: url("../fonts/Extenda-20-Micro-trial.ttf");
}
@font-face {
  font-family: "extenda-30";
  src: url("../fonts/Extenda-30-Deca-trial.ttf");
}
@font-face {
  font-family: "extenda-40";
  src: url("../fonts/Extenda-40-Hecto-trial.ttf");
}
@font-face {
  font-family: "extenda-50";
  src: url("../fonts/Extenda-50-Mega-trial.ttf");
}
@font-face {
  font-family: "extenda-60";
  src: url("../fonts/Extenda-60-Giga-trial.ttf");
}
@font-face {
  font-family: "extenda-70";
  src: url("../fonts/Extenda-70-Tera-trial.ttf");
}
@font-face {
  font-family: "extenda-80";
  src: url("../fonts/Extenda-80-Peta-trial.ttf");
}
@font-face {
  font-family: "extenda-90";
  src: url("../fonts/Extenda-90-Exa-trial.ttf");
}
@font-face {
  font-family: "extenda-100";
  src: url("../fonts/Extenda-100-Yotta-trial.ttf");
}
@font-face {
  font-family: "monument-regular";
  src: url("../fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "monument-ultrabold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf");
}
@font-face {
  font-family: "rubik-mono";
  src: url("../fonts/RubikMonoOne-Regular.ttf");
}
@font-face {
  font-family: "regals-condensed";
  src: url("../fonts/Regals Condensed.otf");
}
@font-face {
  font-family: "regals";
  src: url("../fonts/Regals.otf");
}
@font-face {
  font-family: "regals-extended";
  src: url("../fonts/Regals Extended.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -110px;
  height: 110px;
  visibility: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: regals-condensed;
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
  margin-top: 1.5rem;
}

.carousel__portada {
  margin-top: 1rem;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.somos {
  margin-top: 2rem;
}
.somos p {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1 1 auto;
}
.somos img {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.catalogo {
  max-width: 90%;
  height: 60vh;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url(../img/Portada.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.catalogo__texto {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.catalogo__texto p {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1 1 auto;
}

.boton__catalogo {
  font-family: "Jost", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comunidad {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.comunidad p {
  font-family: "Jost", sans-serif;
  margin-bottom: 1rem;
}

/* Botón flotante para Whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.boton__libros {
  font-family: "Jost", sans-serif;
  font-size: larger;
  background-color: #571151;
  border-color: #8b4513;
}

@media (min-width: 992px) {
  .navbar-nav a {
    font-size: 1.7rem;
    padding-top: 3px;
  }
  .navbar-nav button {
    font-size: 1.4rem;
  }
  .somos p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .comunidad p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .catalogo__texto p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .boton__catalogo {
    font-size: 2rem;
  }
  .boton__libros {
    font-size: 2rem;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 4em;
  }
}
@media (min-width: 1024px) {
  iframe {
    width: 90%;
    height: 70%;
  }
}
li a {
  font-family: regals-condensed;
  font-size: 1.1em;
}

p {
  margin-bottom: 0;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: rgb(241, 217, 227);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  color: rgb(8, 8, 8);
  text-align: center;
  padding-top: 0.5rem;
}

.footer__container__textos {
  color: rgb(8, 8, 8);
  font-family: "Jost", sans-serif;
  font-size: small;
  padding-bottom: 0;
}
.footer__container__textos i {
  font-size: 1.5em;
}
.footer__container__textos p {
  padding-bottom: 0;
}

@media screen and (max-width: 320px) {
  .footer i {
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}
.footer__container__textos--title {
  font-family: "regals-condensed";
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 0;
}

.footer__container__icons a {
  text-decoration: none;
  color: rgb(48, 51, 48);
  font-size: 0.9em;
}
.footer__container__icons a:hover {
  color: cadetblue;
}
.footer__container__icons i {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.footer__container__avatar {
  width: 2rem;
}/*# sourceMappingURL=estilos.css.map */